/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    appearance: 0;
    list-style: none;
}

:root {
    --color-primary: #818968;
    --color-bg: #505d45;
    --color1: #f4b67983;
    --color2: #e8e3c7;
    --color3: #5c6b4f;
    --color-error: rgba(98, 8, 8, 0.271);
    --color-success: rgba(43, 214, 43, 0.155);
    --transition: all 300ms ease;

    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 40%;

    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.4rem;
    --card-border-radius-3: 5rem 3rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color2);
    overflow-x: hidden;
    background: var(--color-bg);
    font-size: 0.9rem;
}

.container {
    width: var(--container-width-lg);
    max-width: 1800px;
    margin-inline: auto;
}

section {
    margin-top: 3rem;
    width: 100vw;
}

.section_extra-margin {
    margin-top: 7rem;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--color-white);
    line-height: 1.3;
}

h1 {
    font-size: 4rem;
    margin: 1rem 0;
}

h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

h3 {
    font-size: 1.2rem;
    margin: 0.8rem 0 0.5rem;
}

h4 {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: var(--color-white);
    transition: var(--transition);
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/****************** NAV *******************/
nav {
    background: var(--color-primary);
    opacity: 0.8;
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    font-weight: 500;
    z-index: 10;
    box-shadow: 0 0.2rem 1rem rgba(169, 179, 136, 0.5);
}

#open_nav-btn,
#close_nav-btn {
    font-size: 2rem;
    background: transparent;
    color: var(--color-white);
    display: none;

}

.nav_items a:hover {
    color: white;
}

.nav_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.3rem solid var(--color-bg);
    line-height: 5rem;
}

.nav_logo {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
    line-height: 5rem;
}

.nav_items {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-size: 1.2rem;
    margin: 0;
}

.nav_profile {
    position: relative;
    cursor: pointer;
}

.nav_profile ul {
    position: absolute;
    top: 115%;
    right: 1rem;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
}

.nav_container a {
    text-decoration: none;
    list-style: none;
    color: var(--color-white);
    transition: var(--transition);
}

/* show nav ul when nav profile is hovered */
.nav_profile:hover>ul {
    visibility: visible;
    opacity: 1;
}

.nav_profile ul li a {
    padding: 0.4rem 0.8rem;
    background: var(--color-primary);
    display: block;
    width: 100%;
}

/****************** CATEGORY BUTTON *******************/
.category_btn {
    background: var(--color1);
    color: #46503f;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: var(--card-border-radius-2);
    font-weight: 500;
    font-size: 1rem;
    text-align: center;

}

.category_btn:hover {
    color: var(--color-white);
}

/****************** GENERAL POST *******************/
.post_thumbnail {
    border-radius: var(--card-border-radius-3);
    border: 0.4rem solid var(--color1);
    overflow: hidden;
    margin-bottom: 1rem;
    cursor: pointer;
    height: 200px;
}

.featured .post_thumbnail:hover img,
.posts .post_thumbnail:hover img {
    filter: saturate(0.2);
    transition: filter 500ms ease;
}

.post_author {
    display: flex;
    gap: 1rem;
    margin-top: 1.2rem;
}

.post_author_avatar {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: var(--card-border-radius-2);
    overflow: hidden;
}


/****************** FETURED *******************/
.featured {
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.featured .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.featured .post_thumbnail {
    height: 100%;
}

/****************** POSTS *******************/
.posts_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin-bottom: 5rem;
}

.section_extra_margin {
    margin-top: 9rem;
}

/****************** CATEGORY BUTTONS *******************/
.category_btns {
    padding: 4rem 0;
    border-top: 2px solid var(--color1);
}

.category_btns_container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

/****************** FOOTER *******************/
footer {
    background: var(--color-primary);
    padding: 5rem 0 0;
    border-top: 2px solid var(--color1);
    box-shadow: 0 5rem 5rem #3f260e80;
}

.footer_socials {
    margin-inline: auto;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 5rem;
}

.footer_socials a {
    background: var(--color-bg);
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_socials a:hover {
    background: var(--color2);
    color: var(--color-bg);

}

.footer_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    gap: 5rem;
}

footer h4 {
    color: var(--color2);
    font-weight: 500;
    margin-bottom: 0.6rem;
    margin-left: 2rem;
    letter-spacing: 0.1rem;
    cursor: text;
}

footer ul a {
    font-weight: 500;
    color: var(--color2);
    padding: 0.4rem 0;
}


footer ul a:hover {
    letter-spacing: 0.22rem;
    opacity: 1;
    color: var(--color-bg);
}

.footer_copyright {
    text-align: center;
    padding: 1.5rem 0;
    border-top: 0.2rem solid var(--color-bg);
    margin-top: 4rem;
    letter-spacing: 0.25rem;
    word-spacing: 0.25rem;
}

/*************************** SEARCH *********************************/
.search_bar {
    margin-top: 7rem;
}

.search_bar_container {
    position: relative;
    width: 30rem;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-radius: var(--card-border-radius-2);
    color: var(--color-gray-300);
}

.search_bar_container>div {
    width: 100%;
    display: flex;
    align-items: center;
}

.search_bar input {
    background: transparent;
    margin-left: 0.7rem;
    padding: 0.5rem 0;
    width: 100%;
}

input,
textarea,
select {
    padding: 0.8rem;
    background-color: var(--color-primary);
    border: 1px solid #949191;
    border-radius: var(--card-border-radius-2);
    color: var(--color2);
    font-size: 1rem;
    border: none;
    outline: none;
}
input::placeholder,
textarea::placeholder {
    color: var(--color2);
}

/********************** SEARCH BUTTON ***********************/

.search_btn {
    width: fit-content;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0.5rem 1.1rem;
    color: var(--color2);
    background-color: var(--color3);
    border-radius: var(--card-border-radius-2);
    cursor: pointer;
    transition: var(--transition);
}

.search_btn:hover {
    color: var(--color2);
    letter-spacing: 0.1rem;
}

/********************** SINGLE POST ***********************/
.singlePost {
    margin: 6rem 0 2rem;
}

.singlePost_container {
    width: var(--form-width);
    background: var(--color3);
    padding: 1rem 2rem 3rem;
}

.singlePost_thumbnail {
    margin: 1.5rem 0 1rem;
}

.singlePost_container p {
    margin-top: 1rem;
    line-height: 1.7;
}

/****************** CATEGORY POST *******************/

.categoryTitle {
    height: 15rem;
    margin-top: 5rem;
    background-color: var(--color3);
    display: grid;
    place-items: center;
}

/****************** ABOUT *******************/

.emptyPage {
    height: 70vh;
    text-align: center;
    display: grid;
    place-content: center;
}

/****************** GENERAL FORM *******************/
.form_section {
    display: grid;
    place-content: center;
    margin-top: 5rem;
}

.form_section_container {
    width: 100vh;
    padding: 2rem;
    color: var(--color-white);
}

.form_section_container h2 {
    margin-bottom: 2rem;
}

.form_control label {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.alert_message {
    padding: 0.8rem 1.4rem;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: var(--card-border-radius-2);
    font-size: 0.9rem;
}

.alert_message.error {
    background: var(--color-error);
    color: var(--color2);
}

.alert_message.success {
    background: var(--color-success);
    color: var(--color2);
}

.alert_message-lg {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.form_control {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.form_control label {
    pointer-events: none;
    /* Disable interaction */

}

input[type="file"] {
    pointer-events: auto;
    cursor: pointer;
}

input[name="search"] {
    background-color: none;
    color:var(--color2);
    /* outline: none; */
}

.form_control.inline {
    flex-direction: row;
    align-items: center;
}

.btn {
    width: fit-content;
    padding: 0.5rem 1rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: var(--card-border-radius-2);
    cursor: pointer;
    transition: var(--transition);
    text-transform: uppercase;
}

.btn:hover,
.btn.danger:hover {
    background-color: var(--color1);
    transition: var(--transition);
}

.btn.sm {
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
}

.form_section small {
    margin-top: 1rem;
    display: block;
    text-align: center;
}

.form_section small a {
    color: var(--color-primary);
    text-decoration: none;
    padding-left: 0.2rem;
}

.form_section small a:hover {
    text-decoration: underline;
    color: var(--color-white);
}

/****************** DASHBOARD  *******************/
.dashboard {
    margin-top: 6rem;
}

.dashboard_container {
    display: grid;
    grid-template-columns: 19rem auto;
    gap: 1rem;
    background-color: var(--color3);
    padding: 2rem 1rem;
    margin-bottom: 5rem;
}

.sidebar_toggle {
    display: none;
}

.dashboard aside a {
    background-color: var(--color1);
    display: flex;
    gap: 1.2rem;
    align-items: center;
    padding: 1.2rem;
    font-size: 1.3rem;
    transition: var(--transition);

}

.dashboard aside ul li:not(:last-child) {
    border-bottom: 0.15rem solid var(--color-bg);

}

.dashboard aside a:hover {
    background: var(--color3);
    text-decoration: none;
    list-style: none;
    transition: var(--transition);
}

.dashboard aside a.active {
    background-color: var(--color3);
}

.dashboard main {
    margin-left: 1.5rem;
}

.dashboard main h2 {
    margin: 0 0 2rem 0;
    line-height: 1;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.dashboard main table {
    width: 100%;
}

.dashboard main table th {
    background: var(--color-primary);
    padding: 1rem;
    color: var(--color2);
    letter-spacing: 0.1rem;
    font-size: 1rem;
}

.dashboard main table td {
    padding: 1.1rem;
    border-bottom: 0.1rem solid var(--color2);
}

.dashboard main table tr:hover td {
    background: var(--color-bg);
    transition: var(--transition);
    cursor: text;
}

/********************** MEDIA QUERIES (MEDIUM DEVICES) *********************************/
@media screen and (max-width:1024px) {

    /************* GENERAL****************/
    .container {
        width: var(--container-width-md);
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 0.8rem;
    }

    /****************** NAV *******************/
    #open_nav-btn {
        display: inline-block;
        font-size: 1.5rem;
        background: transparent;
        color: var(--color-white);
        cursor: pointer;
    }

    #close_nav-btn {
        display: none;
    }

    .nav_container {
        position: relative;
    }

    .nav_items {
        perspective: 400px;
        position: absolute;
        flex-direction: column;
        top: 100%;
        right: 0;
        width: 12rem;
        align-items: flex-start;
        justify-content: center;
        gap: 0;

    }

    .nav_items.show {
        display: none;
    }

    .nav_items li {
        width: 100%;
        height: 4.3rem;
        display: flex;
        align-items: center;
        box-shadow: 0 0.2rem 1rem rgba(169, 179, 136, 0.5);
        border-top: 1px solid var(--color-bg);
        animation: animateDropdown 200ms 0s ease forwards;
        opacity: 0;
        transform-origin: top;
    }

    .nav_items li a:hover {
        background-color: #46503f;
    }

    .nav_items li:nth-child(2) {
        animation-delay: 200ms;
    }

    .nav_items li:nth-child(3) {
        animation-delay: 300ms;
    }

    .nav_items li:nth-child(4) {
        animation-delay: 400ms;
    }

    .nav_items li:nth-child(5) {
        animation-delay: 500ms;
    }

    /* nav dropdown animation */
    @keyframes animateDropdown {
        0% {
            transform: rotateX('90deg');
        }

        100% {
            transform: rotateX('0deg');
            opacity: 1;
        }

    }

    .nav_items li a {
        border-radius: 0;
        width: 100%;
        height: 100%;
        background: var(--color-primary);
        padding: 0 2rem;
        display: flex;
        align-items: center;
    }

    .nav_profile {
        background: var(--color-primary);

    }

    .nav_profile ul li {
        height: 100%;
        width: 100%;

    }

    .nav_profile ul {
        top: 100%;
        right: 50%;
    }

    .nav_profile .avatar {
        margin-left: 2rem;
        margin-bottom: 0.9rem;
        margin-top: 1rem;
        border: 0;


    }

    .featured_container {
        gap: 3rem;
    }

    .posts_container {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;

    }

    .footer_container {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        margin-left: 7rem;

    }

    /********************** BLOG ***************************/
    .search_bar_container {
        width: 60%;
    }

    /**********************  GENERAL FORM **************************/
    .form_section_container {
        padding: 3rem;
    }

    /********************** DASHBOARD **************************/

    .dashboard_container {
        grid-template-columns: 5rem auto;
        padding: 0;
        background: transparent;
        margin-top: 12rem;

    }

    .dashboard aside h5 {
        display: none;
    }

    .dashboard aside a {
        padding: 1.4rem 2.5rem;
    }

    .dashboard aside i {
        margin-left: -0.4rem;
        font-size: 0.9rem;
    }

    .dashboard aside a:hover {
        background: var(--color3);
    }

    .dashboard main table tr:hover td {
        background: var(--color3);
    }

}

/********************** MEDIA QUERIES (SMALL DEVICES) *********************************/
@media screen and (max-width:600px) {
    section {
        margin-top: 2rem;
    }

    h1 {
        font-size: 2rem;
    }

    .featured {
        margin-top: 7rem;
        margin-bottom: 5rem;
    }

    .featured .post_thumbnail {
        border-radius: 4rem 2rem;
    }

    .featured_container {

        grid-template-columns: 1fr;
        gap: 0;
    }

    .posts_container {
        grid-template-columns: 1fr;
    }

    .category_btns_container {
        grid-template-columns: 1fr 1fr;
    }

    .footer_container {
        grid-template-columns: 1fr;
        text-align: center;
        margin-left: 1rem;
        gap: 2rem;
    }

    /********************** BLOG *************************/
    .search_bar_container {
        width: var(--container-width-md);
    }

    /********************** SINGLE POST *****************/
    .singlePost_container {
        background-color: transparent;
        padding: 0;

    }

    /**********************  GENERAL FORM ******************/
    .form_section_container {
        padding: 0;
    }


    /**********************  DASHBOARD ********************/
    .dashboard {
        margin-top: 5rem;
    }

    .dashboard_container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .dashboard main {
        margin: 0;
    }

    .dashboard main h2 {
        margin-top: 1rem;
    }

    .dashboard aside {
        position: fixed;
        box-shadow: 2rem 0 4rem rgba(17, 17, 17, 0.37);
        left: -100%;
        top: 3.5rem;
        height: 100vh;
        transition: var(--transition);
        background: var(--color-primary);
        text-align: justify;

    }

    .dashboard .sidebar_toggle {
        display: inline-block;
        background: var(--color1);
        color: var(--color-white);
        position: fixed;
        right: 0;
        bottom: 3rem;
        z-index: 1;
        width: 1.5rem;
        height: 2rem;
        border-radius: 50% 0 0 50%;
        font-size: 1rem;
        cursor: pointer;
        box-shadow: -1rem 0 2rem rgba(0, 0, 0, 0.4);
    }

    .dashboard aside a h5 {
        display: inline-block;
    }

    #hide_sidebar-btn {
        display: none;
    }

}
